* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    /* padding: 0 100px; */
    /* background-color: green; */
}

header {
    background-color: #ff900e1a;
    /* background: rgba(255, 144, 14, 0.1); */
}
.logo__text{
    padding-bottom: 10px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    max-width: 1150px;
    margin: 0 auto;


}

ul {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
}

ul>li {
    list-style: none;

}

ul li>a {
    text-decoration: none;
    color: black;
}

/* hero section styles  */

.section__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.hero__text {
    text-align: center;
    margin: 50px 0;
}

.section__title {
    font-size: 60px;
    padding: 10px;
    margin: 100px 0 0 0;
}

a {
    text-decoration: none;
    color: white;

}

.btn__style {
    padding: 10px 15px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    background-color: #FF900E;
    margin: 15px 0;
}

.banner__image {
    width: 100%;
    /* padding:15px 20px; */
}


/* features section styles  */

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

.grid__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid__section img {
    width: 100%;
}

.feature__text {
    width: 500px;
    height: 300px;
}

.secondary__title {
    font-size: 40px;
    padding: 20px 0;
}

.yellow__color {
    color: #FF900E;
    font-weight: 800;
}

.grayish__color {
    color: #727272;
    font-weight: 700;
}

/* More features section styles  */

.more__features__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 100px;

}

.more__features__section {
    max-height: 1600px;
}

.feature__item {
    height: 880px;
    width: 100%;
    max-width: 520px;
}

.left__bordar {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    display: flex;
    align-items: center;
    height: 100px;
}

.tertiary__section {
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px lightgray;
    padding: 20px;
    margin: 20px 0;
}

.tertiary__title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.architect__image {
    max-width: 600px;
    height: 900px;
}

.architect__image img {
    width: 100%;
    padding: 0 0 0 20px;
    height: 90%;
    z-index: 0;
}

.experience__box {
    position: relative;
    top: -160px;
    left: 550px;
    height: 100px;
    width: 180px;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    background-color: #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* some facts section Styles */
.section__text {
    padding: 30px 0;
    /* color: red; */
}

.fact__boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.facts__box {
    height: 200px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.facts__box h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

.facts__box:hover {
    background-color: #FF900E;
    transition: .5s;
    transform: scale(1.1);
    color: white;
}

.facts__box p {
    font-size: 20px;
    font-weight: 700;
    color: #727272;
}
/* why you hire use sections style  */

.hire__us__section{
    text-align: center;
    margin-top: 100px;
}
.reasons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
   

}

.reason__box img{
    width: 30%;
}
.reason__box h3{
    padding: 10px 0;

}
.reason__box{
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px lightgray;
    /* background-color: lightgray; */
    
}
/* sponsor section styles  */
.sponsor__section {
    text-align: center;
    margin-top: 100px;
}

.logos img {
    width: 10%;
    filter: grayscale(1);
}

.logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px 0;
}

/* footer footer foooter  */

.footer__section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #ff900e1a;
    margin: 50px;

}

.hide {
    display: none;
}

/* media quaries  */

@media only screen and (max-width:576px) {

    nav,ul,.features,
    .more__features__section,
    .fact__boxes,
    .reasons {
        flex-direction: column;
        padding: 0px 20px;
    }

    nav {
        margin: 10px 0;
    }


    header {
        padding: 10px 20px;
    }

    .grid__section {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature__text,
    .feature__item,
    .footer__section {
        width: 360px;
    }

    .architect__image  {
        max-width: 360px;
        max-height: 500px;
        margin-top: 150px;
        margin-right: 20px;

    }
    .architect__image img {
        width: 110%;
        /* padding: 0 0 0 20px; */
        height: 80%;
    }

    .experience__box {
        top: 0;
        left: 130px;

    }
    .section__text{
        text-align: center;
    }
    .section__title{
        font-size: 40px;
    }
    

}